/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #0072ff, #00d4ff);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Контейнер для сотрудников */
.employee-view-container {
    background: white;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

/* Заголовки */
.employee-view-container h1 {
    color: #0072ff;
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Разделы сотрудников */
.employee-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.employee-list {
    flex: 1;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.employee-list h2 {
    margin-top: 0;
    font-size: 24px;
    color: #0072ff;
    text-align: center;
}

.employee-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.employee-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.employee-list li:last-child {
    border-bottom: none;
}

.employee-list li:hover {
    background-color: #e7f1ff;
    cursor: pointer;
}

/* Кнопка добавления сотрудников */
.btn-add {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #218838;
}

.btn-remove {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-remove:hover {
    background-color: #d73946;
}


/* Анимация */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
