/* Контейнер задач */
.task-table-container {
    margin: 50px auto;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-title {
    text-align: center;
    font-size: 24px;
    color: #007BFF;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table thead tr {
    background-color: #007BFF;
    color: white;
}

.task-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.task-table .btn-delete {
    background-color: #FF4D4F;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.task-table .btn-delete:hover {
    background-color: #D9363E;
}
