{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1 class="form-title">Личный кабинет</h1>
    <p><strong>Ваш логин:</strong> {{ username }}</p>
    <p><strong>Должность:</strong> {{ role }}</p>

    <!-- Кнопка для выхода -->
    <form action="{{ url_for('main.logout') }}" method="POST">
        <button type="submit" class="btn-submit">Выйти</button>
    </form>

    <!-- Новая кнопка для создания задач -->
    <div style="margin-top: 20px;">
        <a href="{{ url_for('main.tasks') }}" class="btn-submit">Создать задачи</a>
    </div>
</div>
{% endblock %}
