{% extends "base.html" %}
{% block content %}
<section class="hero">
    <div class="hero-content register-form-container">
        <h1>Регистрация</h1>
        <form method="POST" action="{{ url_for('main.register') }}" class="register-form">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-group">
                <label for="role">Должность:</label>
                <select name="role" id="role">
                    <option value="Сотрудник">Сотрудник</option>
                    <option value="Начальник">Начальник</option>
                </select>
            </div>
            <button type="submit" class="btn btn-register">Зарегистрироваться</button>
        </form>
    </div>
</section>
{% endblock %}
