{% extends "base.html" %}

{% block content %}
<div class="register-container">
    <h1 class="register-title">Регистрация</h1>
    <form action="{{ url_for('main.register') }}" method="POST" class="register-form">
        <div class="form-group">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" placeholder="Введите логин" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn-submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
